.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.zmiti-detail-main-ui {
  background: #fff;
  color: #504125;
  z-index: -1;
  opacity: 0;
  overflow: hidden;
}

.zmiti-detail-main-ui.show {
  z-index: 1230;
  opacity: 1;
}

.zmiti-detail-main-ui > div {
  min-height: 1888px;
}

.zmiti-detail-main-ui .zmiti-detail-title {
  width: 80%;
  margin: 0 auto;
}

.zmiti-detail-main-ui h1 {
  height: 200px;
}

.zmiti-detail-main-ui .zmiti-video-C {
  width: 750px;
}

.zmiti-detail-main-ui .zmiti-video-C video {
  width: 100%;
}

.zmiti-detail-main-ui .zmiti-video-text,
.zmiti-detail-main-ui .zmiti-image-text {
  width: 80%;
  margin: 20px  auto;
}

.zmiti-detail-main-ui .zmiti-video-text div,
.zmiti-detail-main-ui .zmiti-image-text div {
  text-indent: 2em;
}

.zmiti-detail-main-ui .zmiti-video-text {
  text-indent: 2em;
}

.zmiti-detail-main-ui .zmiti-index-logo {
  position: absolute;
  width: 160px;
  right: 30px;
  top: 20px;
}

.zmiti-detail-main-ui .zmiti-subtitle {
  width: 90%;
  height: 70px;
  text-align: right;
  margin: 0 auto;
}

.zmiti-detail-main-ui .zmiti-comment {
  margin-top: 120px;
  position: relative;
  background: #fff;
}

.zmiti-detail-main-ui .zmiti-comment:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.zmiti-detail-main-ui .zmiti-comment:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  z-index: -1;
  left: 0;
  bottom: -5px;
  background: #fff;
}

.zmiti-detail-main-ui .zmiti-comment h2 {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  width: 90%;
  font-weight: normal;
  margin: 0 auto;
  font-size: 30px;
  height: 80px;
}

.zmiti-detail-main-ui .zmiti-comment h2 > div:nth-of-type(1) {
  color: #a0a0a0;
}

.zmiti-detail-main-ui .zmiti-comment h2 span {
  color: #4a586c;
}

.zmiti-detail-main-ui .zmiti-comment h2 img {
  width: 30px;
}

.zmiti-detail-main-ui .zmiti-comment .zmiti-comment-item {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  width: 90%;
  margin: 20px auto;
  -webkit-box-align: start;
}

.zmiti-detail-main-ui .zmiti-comment .zmiti-comment-item > div {
  margin: 0 10px;
}

.zmiti-detail-main-ui .zmiti-comment .zmiti-comment-item > div:nth-of-type(1) {
  -webkit-box-flex: 1;
}

.zmiti-detail-main-ui .zmiti-comment .zmiti-comment-item > div:nth-of-type(2) {
  -webkit-box-flex: 11;
  color: #282727;
}

.zmiti-detail-main-ui .zmiti-comment .zmiti-comment-item > div:nth-of-type(2) > div {
  font-size: 28px;
  line-height: 40px;
}

.zmiti-detail-main-ui .zmiti-comment .zmiti-comment-item > div:nth-of-type(2) > div:nth-of-type(1) {
  color: #a0a0a0;
  font-size: 24px;
  margin-top: -5px;
}

.zmiti-detail-main-ui .zmiti-comment .zmiti-more {
  border-top: 1px solid #e9e4d8;
  text-align: center;
  height: 100px;
  color: #787878;
  line-height: 100px;
}

.zmiti-detail-main-ui .zmiti-image-text {
  font-size: 28px;
  line-height: 42px;
}

.zmiti-detail-main-ui .zmiti-image {
  width: 90%;
  margin: 80px auto 20px;
  background: #ead7a4;
  padding: 10px;
  position: relative;
}

.zmiti-detail-main-ui .zmiti-image:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
